.product-action {
    display: flex;
    justify-content: space-around;
    padding: 3px 5px;
}

.product-form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.website-display {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.product-form-sumbit {
    text-align: center;
}
